/* Global stylings */
body {
    overflow-x: hidden;
    margin: 0;
}

/* Navbar stylings */
nav {
    background-color: #124758;
}

/* Header stylings */
#particles-js {
    width: 100vw;
    height: 60vh;
    background: #6995A3;
}
/* Portfolio stylings */
/* About stylings */
/* Contact stylings */
/* Footer stylings */