/* Global stylings */
html {
  position: relative;
  height: 100%; }

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  /* padding-bottom: 60px; */
  height: 100%; }

.btn {
  color: #fff;
  background: #124758; }

.btn:hover {
  color: #fff;
  background: #417586; }

.wrapper {
  position: relative;
  top: 30vw;
  width: 100%; }

.body-wrapper {
  width: 90vw;
  position: relative;
  left: 5vw; }

/* Navbar stylings */
#pfolio-navbar {
  background-color: #03303F;
  z-index: 3;
  padding: 0.85% 5% 0.85% 0;
  font-size: 24px;
  font-weight: 200; }

/* Header stylings */
#canvas {
  display: block;
  position: fixed;
  top: 0;
  background: #6995A3; }

#title {
  position: relative;
  top: 20vw;
  left: 10vw;
  z-index: 1;
  color: #03303F; }

#title h1 {
  font-size: calc(18px + 2.5vw); }

#title h2 {
  font-size: calc(14px + 1.75vw); }

#links {
  position: relative;
  top: 21vw;
  left: 10vw;
  z-index: 3; }

#links .btn {
  color: #03303F;
  font-weight: 700;
  background: none;
  border: #03303F solid 2px;
  margin: 0.3em; }

#links .btn:hover {
  color: #fff;
  background: #417586;
  border: #417586 solid 2px; }

/* Portfolio stylings */
#projects {
  text-align: center;
  position: relative;
  background: #265D6F; }

.section-head {
  text-align: left;
  position: relative;
  left: 4%;
  margin: 0 0 0.6em 0; }

.btn {
  margin: 0.13em; }

/* About stylings */
#about {
  position: relative;
  background: #124758;
  border-radius: 0.5em 0.5em 0 0; }

.about-text {
  padding: 0 2em 2em 2em; }

/* Contact stylings */
#contact {
  margin: 0;
  text-align: left;
  position: relative;
  background: #124758;
  border-radius: 0 0 0.5em 0.5em; }

#contact .btn {
  color: #fff;
  background: #265D6F; }

#contact .btn:hover {
  color: #fff;
  background: #417586; }

.contact-label {
  position: relative;
  left: 5%; }

.form-item {
  border-radius: 8px;
  display: block;
  position: relative;
  left: 5%;
  padding: 0.25em 0.5em;
  width: 90%;
  font-size: 16px; }

.contact-text {
  font-size: 150%;
  font-weight: 200; }

/* Footer stylings */
.body-wrapper.footer {
  width: 100%; }

.footer {
  background: black;
  color: #fff;
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  line-height: 60px; }
