/* Footer stylings */
.body-wrapper.footer {
    width: 100%;
}
.footer {
    background: black;
    color: #fff;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 60px;
}