/* Header stylings */
#canvas {
    display: block;
    position: fixed;
    top: 0;
    background: #6995A3;
}
#title {
    position: relative;
    top: 20vw;
    left: 10vw;
    z-index: 1;
    color: #fff;
    text-shadow: 0.2em 0.15em #333;
}
#title h1 {
    font-size: calc(18px + 2.5vw);
}
#title h2 {
    font-size: calc(14px + 1.75vw);
}